/.fabric
/.idea
/crash-reports
/CustomSkinLoader
/data
/defaultconfigs
/local
/logs
/modernfix
/ModTranslations
/natives-windows-x86_64
/patchouli_books
/resourcepacks
/saves
/schematics
/shaderpacks
/tmp
/mods/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP032021/
/XaeroWorldMap/
/hmclversion.cfg
/log4j2.xml
/modpack.cfg
/modrinth.index.json
/options.txt
/patchouli_data.json
/servers.dat
/servers.dat_old
/usercache.json
/[1.20.1][Fabric]Xplus 2.0.jar
/[1.20.1][Fabric]Xplus 2.0.iml
/[1.20.1][Fabric]Xplus 2.0.json
/config/*
!/config/openloader
/PCL/
